### Certificate File ###
crawler/ca-root.pem

### Generated Data ###
data/
graphs/

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

### JupyterNotebooks ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*
